
 body {
	margin: auto; 
	display: flex;
	min-height: 200vh;
	flex-direction: column;
    background: oldlace;
    text-align: start;
 }

h1, h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 700;
}
.a, .b, .c{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 900;
}

