
 body {
	margin: auto; 
	display: flex;
	min-height: 200vh;
	flex-direction: column;
    text-align: start;
    background: url("../images/burger.png");
    background-size: 500px;
    background-repeat: no-repeat;
 }

h1, h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 700;
}
.a, .b, .c{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 900;
}

